---
import Layout from "@layouts/Layout.astro";
import { formatDate } from "@lib";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter((post) => post.data.published)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const props = Astro.props;
const { title, date, description } = props.data;

const { Content } = await props.render();
---

<Layout title={title} description={description}>
  <section class="w-full pb-5 prose mdx">
    <h1 class="mb-3 text-primary-200 dark:text-txt-300 animate">
      {title}
    </h1>
    <p
      class="mb-3 font-light text-md text-primary-200 dark:text-txt-300 animate"
    >
      Written on {formatDate(date)}
    </p>
    <hr />
    <article
      class="col-span-3 text-md lg:text-lg blog text-primary-200 dark:text-txt-300 animate"
    >
      <Content />
    </article>
  </section>
</Layout>
