---
import BlogCard from "@components/BlogCard.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogs = (await getCollection("blog"))
  .filter((blog) => blog.data.published)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const isEmpty = blogs.length < 1;
---

<Layout>
  <section>
    <h1 class="mb-3 text-5xl font-semibold text-primary-200 dark:text-txt-300">
      Blog
    </h1>
    <hr class="mb-6" />
    {
      isEmpty && (
        <div class="flex items-center justify-center">
          <h1 class="dark:text-txt-300 text-primary-100">No Post Published</h1>
        </div>
      )
    }

    <ul class="grid gap-5 pb-10 sm:grid-cols-2 md:grid-cols-3">
      {blogs.map((blog) => <BlogCard blog={blog} />)}
    </ul>
  </section>
</Layout>
