@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #ffffff;
	min-width: 275px;
	font-size: 14px;
	scroll-behavior: smooth;
}

@layer base {
	.layout {
		width: 100%;
		max-width: 64rem;
		margin-left: auto;
		margin-right: auto;
		@apply !min-h-mobile md:!min-h-desktop;
	}

	.layout-post-content {
		width: 100%;
		max-width: 54rem;
		margin-left: auto;
		margin-right: auto;
		padding: 10px 0;
	}
}

input.toggle:checked + .slider {
	@apply bg-accent;
}

input.toggle:checked + .slider::before {
	transform: translateX(26px);
	@apply bg-zinc-900;
}
