@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  min-width: 275px;
  font-size: 14px;
  scroll-behavior: smooth;
  line-height: 1.6;
}

@layer base {
  .layout {
    width: 100%;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    @apply !min-h-mobile md:!min-h-desktop md:max-w-[64rem] xl:px-0 px-6;
  }
}

.prose {
  display: inline-block;
  width: 100%;
  @apply md:max-w-[46rem];
}

.prose hr {
  @apply my-6;
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

input.toggle:checked + .slider {
  @apply bg-accent;
}

input.toggle:checked + .slider::before {
  transform: translateX(26px);
  @apply bg-zinc-900;
}

.blogCard:hover {
  --active: 1;
}

.blogCard:after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
    hsl(0 0% 100% / 0.15),
    transparent 15vmin
  );
  background-attachment: fixed;
  opacity: var(--active, 0);
  transition: opacity 0.2s;
  pointer-events: none;
}

.blogCard:before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
      hsl(0 0% 100% / 0.5),
      transparent 15vmin
    ),
    transparent;
  background-attachment: fixed;
  pointer-events: none;
  mask:
    linear-gradient(white, white) 50% 0 / 100% 4px no-repeat,
    linear-gradient(white, white) 50% 100% / 100% 4px no-repeat,
    linear-gradient(white, white) 0 50% / 4px 100% no-repeat,
    linear-gradient(white, white) 100% 50% / 4px 100% no-repeat;
}
