@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #ffffff;
	min-width: 275px;
	font-size: 14px;
}

@layer base {
	.layout {
		width: 100%;
		max-width: 58rem;
		margin-left: auto;
		margin-right: auto;
	}

	.layout-post-content {
		width: 100%;
		max-width: 58rem;
		margin-left: auto;
		margin-right: auto;
	}
}
