---
import { formatDate } from "../../../lib";
---

<section class="pb-5 layout-post-content">
  <h1 class="mb-3 text-4xl font-bold text-primary-200 dark:text-txt-300">
    Title
  </h1>
  <p class="mb-3 font-light text-md text-primary-200 dark:text-txt-300">
    Written on Date
  </p>
  <!-- <CloudinaryImage
    class="mb-4"
    publicId={thumbnail}
    width={1200}
    height={(200 * 3) / 3}
    aspect={{ width: 12, height: 4 }}
    alt="profile pict"
    mdx={false}
  /> -->
  <hr />
  <div class="flex gap-5">
    <article
      class="inline-block col-span-3 pt-4 text-lg blog text-primary-200 dark:text-txt-300"
    >
      <!-- <MDXContent code={body} /> -->
    </article>
  </div>
</section>
