---
const currentYear = new Date().getFullYear();
---

<footer
  class="flex flex-col-reverse items-center justify-center w-full px-4 py-5 bg-white dark:bg-darkMode xs:flex-row lg:px-0 text-primary-200 dark:text-txt-300"
>
  <p class="xs:mr-5">&copy; Albert {currentYear}</p>
</footer>
