---
import "@styles/globals.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Albert Manuel</title>
  </head>

  <body class="bg-white dark:bg-darkMode">
    <Header />
    <main
      class="px-6 lg:px-0 md:max-w-[64rem] mx-auto bg-white dark:bg-darkMode pt-10 min-h-mobile md:min-h-desktop"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
